services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-next
    init: true  # Adiciona isso
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
